# Config is from mihon
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,sq,sqm}]
indent_size = 4
indent_style = tab

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647

ktlint_code_style = intellij_idea
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_class-signature = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-signature = disabled

# Own changes
max_line_length = 110
indent_size = 4
indent_style = tab
ij_c_function_call_arguments_wrap = on_every_item
ij_c_template_declaration_function_wrap = on_every_item
ij_any_method_call_chain_wrap = on_every_item
ij_kotlin_method_call_chain_wrap = split_into_lines
ij_kotlin_continuation_indent_for_expression_bodies = false
ij_kotlin_continuation_indent_for_binary_expressions = false
ij_kotlin_align_multiline_binary_operation = true
# ij_kotlin_continuation_indent_for_chained_calls = false

#
# # ij_kotlin_block_comment_at_first_column = false
# ij_kotlin_block_comment_add_space = false
# ij_kotlin_line_comment_add_space_on_reformat = false
# ij_kotlin_keep_first_column_comment = false
# ij_kotlin_line_comment_add_space = false
# ij_kotlin_line_comment_at_first_column = false
#
# ktlint_standard_block-comment-initial-star-alignment = disabled
# ktlint_standard_spacing-between-declarations-with-comments = disabled
# ktlint_standard_no-consecutive-comments = disabled
# ktlint_standard_comment-wrapping = disabled
# ktlint_standard_discouraged-comment-location = disabled
#
# # ij_c_method_call_chain_wrap = on_every_item
# ij_any_wrap_first_method_in_call_chain = false
